
.favicon-olx-com {
	background: url("/img/favicons/olx.com.png") 5px center no-repeat;
	text-indent: 15px;
}

.favicon-oodle-com {
	background: url("/img/favicons/oodle.com.png") 5px center no-repeat;
	text-indent: 15px;
}

.favicon-craigslist-com {
	background: url("/img/favicons/craigslist.com.png") 5px center no-repeat;
	text-indent: 15px;
}

.favicon-inetgiant-com {
	background: url("/img/favicons/inetgiant.com.png") 5px center no-repeat;
	text-indent: 15px;
}

.favicon-cars-com {
	background: url("/img/favicons/cars.com.png") 5px center no-repeat;
	text-indent: 15px;
}

.favicon-edmunds-com {
	background: url("/img/favicons/edmunds.com.png") 5px center no-repeat;
	text-indent: 15px;
}

.favicon-yahoo-com {
	background: url("/img/favicons/yahoo.com.png") 5px center no-repeat;
	text-indent: 15px;
}

.favicon-autoblog-com {
	background: url("/img/favicons/autoblog.com.png") 5px center no-repeat;
	text-indent: 15px;
}

.favicon-autobild-de {
	background: url("/img/favicons/autobild.de.png") 5px center no-repeat;
	text-indent: 15px;
}

.favicon-autos-aol-com {
	background: url("/img/favicons/autos.aol.com.png") 5px center no-repeat;
	text-indent: 15px;
}