!!! 5
html
	head		
		title Listings
		meta(name="robots", content="noindex, follow, noarchive")
		meta(charset="utf-8")
	body
		ul
			- for (var i = 0; i < content.count; i++) {
				li
					a(href="/htmlsitemap/automobiles/list-item-" + i )= "List items page #" + i
			- }