ul.unstyled
	each item in data
		- if (item.description && item.title)
			- title = item.title
			- description = item.description.truncate(500, true, true)

			li(popover="popover", title="#{title}", data-content= (description ? description : item.description.truncate(1000, false, true))).list-item
				div.list-title
					h4 #{item.title.truncate(20)}
					- if (item.author)
						span= __('by') + "&nbsp;"
						span.cap= item.author
					- else
						| &nbsp;
						
				- if (item.description)
					p.list-content
						= (description ? description : item.description.truncate(500, false, true))
