div.footer
	div.container
		div.socpanel
			div.menu
				ul
					li
						a(href="http://www.#{server.domain.name}/inetgiant-locations") iNetGiant Location
					li
						a(href="http://www.#{server.domain.name}/contact", rel="nofollow", title="Contact us") Contact us
					li
						a(href="http://www.#{server.domain.name}/privacypolicy", rel="nofollow", title="Privacy Policy") Privacy Policy
					li
						a(href="http://www.#{server.domain.name}/terms", rel="nofollow", title="Terms of Use") Terms of Use
					li
						a(href="/archive", title="Archive") Archive
			div.copyright Copyright &copy; 2012 iNetGiant Media Group, LLC. All rights reserved.
		div(class="htmlsitemap wrapper")
			ul
				li(style="color: #fff") Sitemap:
				li
					a(href="/htmlsitemap/automobiles") Automobiles
				li
					a(href="/htmlsitemap/jobs-and-employment") Jobs and Employment
				li
					a(href="/htmlsitemap/services") Services
				li
					a(href="/htmlsitemap/electronics-and-appliances") Electronics and Appliances
				li
					a(href="/htmlsitemap/animals-and-pets") Animals and Pets
				li
					a(href="/htmlsitemap/for-rent") For Rent
				li
					a(href="/htmlsitemap/items-for-sale") Items For Sale
				li
					a(href="/htmlsitemap/real-estate") Real Estate
				li
					a(href="/htmlsitemap/business-opportunities") Business Opportunities
				li
					a(href="/htmlsitemap/community-and-events") Community and Events