div.footer
	div.container
		div(style="text-align: center;").socpanel
			div(style="float: none;").copyright 
				| Copyright © 2012 Anuncios360.com  marca registrada por iNetGiant Media Group, LLC. Todos los derechos reservados.
		div(class="htmlsitemap wrapper")