div#header.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			a.brand(href='http://www.#{server.domain.name}', title='Anuncios360')
				img(src='img/anuncios360-logo.png', alt="Anuncios360")
			div(class="slogan")



